/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,body {
	margin:0px;
	padding: 0px;
  background: #25272D;
  font-family: Helvetica;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background: #373942;
  padding: 15px 20px;
  text-align: center;
  color: rgba(#fff, .7);
  box-shadow: inset 0 1px 0 rgba(#fff, .05);

  h1 {
    font-size: 24px;
    line-height: 28px;
    position: relative;
    font-weight: 100;

    .beta {
      font-size: 11px;
      line-height: 28px;
      top: -8px;
      position: absolute;
      text-transform: uppercase;
      font-weight: bold;
      color: orange;
    }
  }
}

.main {
  background: #FDD13B;
  padding: 20px;
}


/* General styles for all types of buttons */
.progress-button {
	position: relative;
	display: inline-block;
	padding: 0 60px;
	outline: none;
	border: none;
	background: #1d9650;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 4;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
	position: absolute;
	right: 20px;
	color: #0e7138;
	font-family: "icomoon";
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
	content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
	content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

.progress-button .progress {
	background: #148544;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	background: #0e7138;
}

.progress-button[data-horizontal] .progress-inner {
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition: width 0.3s, opacity 0.3s;
	transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
	bottom: 0;
	width: 100%;
	height: 0;
	-webkit-transition: height 0.3s, opacity 0.3s;
	transition: height 0.3s, opacity 0.3s;
}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
	position: relative;
	display: inline-block;
	padding: 0;
	background: transparent;
	-webkit-perspective: 900px;
	perspective: 900px;
}

.progress-button[data-perspective] .content {
	padding: 0 60px;
	background: #1d9650;
}

.progress-button[data-perspective] .progress-wrap {
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
	outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
	overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after {
	top: 100%;
	right: auto;
	left: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.button {
  box-sizing: border-box;
  width: 100%;
  background: #FEAE00;
  border: none;
  font: 16px/16px Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-decoration: none;
  padding: 16px;
  transition: all 150ms ease;
  outline: 0;

  :focus {
    outline: 0;
  }

  &:after {
    display: inline-block;
    content: 'Close Garage Door';
  }

  &:hover {
    background: lighten(#FEAE00, 5%);
    cursor: pointer;
  }

  &.closed:after {
    display: inline-block;
    content: 'Open Garage Door';
  }
}

a {
  display: inline-block;
  padding: 10px 30px;
  display:inline-block;
  min-width: 300px;
  background:#B5B1B1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:active {
	background:#ADAAAA;
}
