/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,body {
	margin:0px;
	padding: 0px;
  background: #25272D;
  font-family: Helvetica;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background: #373942;
  padding: 15px 20px;
  text-align: center;
  color: rgba(#fff, .7);
  box-shadow: inset 0 1px 0 rgba(#fff, .05);

  h1 {
    font-size: 24px;
    line-height: 28px;
    position: relative;
    font-weight: 100;

    .beta {
      font-size: 11px;
      line-height: 28px;
      top: -8px;
      position: absolute;
      text-transform: uppercase;
      font-weight: bold;
      color: orange;
    }
  }
}

.main {
  background: #FDD13B;
  padding: 20px;
}

.button {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: #FEAE00;
  border: none;
  font: 16px/16px Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-decoration: none;
  padding: 16px;
  transition: all 150ms ease;
  outline: 0;

  :focus {
    outline: 0;
  }

  &:after {
    display: inline-block;
    content: 'Close Garage Door';
  }

  &:hover {
    background: lighten(#FEAE00, 5%);
    cursor: pointer;
  }

  &.closed:after {
    display: inline-block;
    content: 'Open Garage Door';
  }
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: rgba(#fff, .4);
}

/* a {
  display: inline-block;
  padding: 10px 30px;
  display:inline-block;
  min-width: 300px;
  background:#B5B1B1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:active {
  background:#ADAAAA;
}
 */
