/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0px;
  padding: 0px;
  background: #25272D;
  font-family: Helvetica;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background: #373942;
  padding: 15px 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
header h1 {
  font-size: 24px;
  line-height: 28px;
  position: relative;
  font-weight: 100;
}
header h1 .beta {
  font-size: 11px;
  line-height: 28px;
  top: -8px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  color: orange;
}

.main {
  background: #FDD13B;
  padding: 20px;
}

label {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}

input {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  -webkit-appearance: none;
}

input[type=text], input[type=password], input[type=number] {
  display: inline-block;
  width: 100%;
  background: #fff;
  border: none;
  font: 16px/16px Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-decoration: none;
  padding: 16px;
  outline: 0;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-text-security: disc;
}

.button {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: #FEAE00;
  border: none;
  font: 16px/16px Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-decoration: none;
  padding: 16px;
  transition: all 150ms ease;
  outline: 0;
  -webkit-appearance: none;
}
.button :focus {
  outline: 0;
}
.button:after {
  display: inline-block;
  content: 'Close Garage Door';
}
.button:hover {
  background: #ffb619;
  cursor: pointer;
}
.button.closed:after {
  display: inline-block;
  content: 'Open Garage Door';
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}

/* a {
  display: inline-block;
  padding: 10px 30px;
  display:inline-block;
  min-width: 300px;
  background:#B5B1B1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:active {
  background:#ADAAAA;
}
 */
